# Archivos de Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Archivos del IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Archivos de sistema
.DS_Store
Thumbs.db

# Android
android/.gradle/
android/captures/
android/local.properties
android/.gradletasknamecache

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec